<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block content %}
        This is  a shop Details page.
        {% for object in object_list %}
        <br><br>{{object}}
        {{object.name}}<br>
        {{object.price}}<br>
        {{object.shirt_size}}<br>
        {{object.pictures}}<br>
        {% endfor %}
       
               
    {% endblock %}
    
</body>
</html>