{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block title %}
    
<section class="section">
    <div class="container">
      <div class="row justify-content-around">
        <div class="col-lg-12 text-center">
          <h2 class="section-title">Web Development - Python FSD </h2>
        </div>

        
        <!-- <div class="col-lg-9 col-md-4 text-center hover-shadow pt-3">
          <div class="">
            
            <h4 class="mb-4"> {{training}} - {{ training.days }} Days,  Training module </h4>
            <p>{{ training.days }} -  Days Training</p>
            <h6 class="mb-4"> Day wise Topics. </h6><hr><hr>
            <h6>Day-1 : {{training.syllabus1}}</a></h6><hr><hr>
            <h6>Day-2 : {{training.syllabus2}}</a></h6><hr><hr>
            <h6>Day-3 : {{training.syllabus3}}</a></h6><hr><hr>
            {% if training.days == 6 %}            
            <h6>Day-4 : {{training.syllabus4}}</a></h6><hr><hr>
            <h6>Day-5 : {{training.syllabus5}}</a></h6><hr><hr>
            <h6>Day-6 : {{training.syllabus6}}</a></h6><hr><hr>
            {% endif %}
            <a href="{% url 'demo:training' %}" class="btn btn-xs btn-primary">Return to Training page.</a>
          </div>
        </div> -->

        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col" >Day</th>
            <th scope="col">Training</th>
              <th scope="col">Total Days</th>
              <th scope="col" class = "text-center">Day Syllabus</th>
            </tr>
          </thead>
          <tbody>
            {% if training.syllabus1 %}
            <tr>
              <th scope="row">1</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus1 %}  {{training.syllabus1}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus2 %}
            <tr>
              <th scope="row">2</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus2 %}  {{training.syllabus2}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus3 %}
            <tr>
              <th scope="row">3</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus3 %}  {{training.syllabus3}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus4 %}
            <tr>
              <th scope="row">4</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus4 %}  {{training.syllabus4}} {% endif %} <br> </td>
            </tr>
            {% endif %}{% if training.syllabus5 %}
            <tr>
              <th scope="row">5</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus5 %}  {{training.syllabus5}} {% endif %} <br> </td>
            </tr>
            {% endif %}
            

            {% if training.syllabus6 %}
            <tr>
              <th scope="row">6</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus6 %}  {{training.syllabus6}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus7 %}
            <tr>
              <th scope="row">7</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus7 %}  {{training.syllabus7}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus8 %}
            <tr>
              <th scope="row">8</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus8 %}  {{training.syllabus8}} {% endif %} <br> </td>
            </tr>
            {% endif %}


            {% if training.syllabus9 %}
            <tr>
              <th scope="row">9</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus9 %}  {{training.syllabus9}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus10 %}
            <tr>
              <th scope="row">10</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus10 %}  {{training.syllabus10}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus11 %}
            <tr>
              <th scope="row">11</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus11 %}  {{training.syllabus11}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus12 %}
            <tr>
              <th scope="row">12</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus12 %}  {{training.syllabus12}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus13 %}
            <tr>
              <th scope="row">13</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus13 %}  {{training.syllabus13}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus14 %}
            <tr>
              <th scope="row">14</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus14 %}  {{training.syllabus14}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus15 %}
            <tr>
              <th scope="row">15</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus15 %}  {{training.syllabus15}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus16 %}
            <tr>
              <th scope="row">16</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus16 %}  {{training.syllabus16}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus17 %}
            <tr>
              <th scope="row">17</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus17 %}  {{training.syllabus17}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus18 %}
            <tr>
              <th scope="row">18</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus18 %}  {{training.syllabus18}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus19 %}
            <tr>
              <th scope="row">19</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus19 %}  {{training.syllabus19}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            {% if training.syllabus20 %}
            <tr>
              <th scope="row">20</th>
              <td>{{training.name}}</td>
              <td>{{training.days}}</td>
              <td> {% if training.syllabus20 %}  {{training.syllabus20}} {% endif %} <br> </td>
            </tr>
            {% endif %}

            
            




            
            
          </tbody>
        </table>
        <a href="{% url 'demo:training' %}" class="btn btn-xs btn-primary">Return to Training page.</a>

        

       
<!--         
        <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
          <img src="{% static 'images/icons/design.png' %}" class="mb-4" alt="icon">
          <h4 class="mb-4">Django six days Training.</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div>
        <div class="col-lg-3 col-md-4 text-center hover-shadow pt-3">
          <img src="{% static 'images/icons/print.png' %}" class="mb-4" alt="icon">
          <h4 class="mb-4">Deliver</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            dolore magna aliqua.</p>
        </div> -->
      </div>
    </div>
  </section>

  
 <!-- courses -->
 <div class="">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h4 class="font-tertiary">Upcoming Courses</h4>
        {% for course in course %}
        <p class="section-lead text-muted">{{ course }}</p>
        {% endfor %}
      </div>
    </div>
  </div>
 </div>

<!-- course -->

    {% endblock %}
    
</body>
</html>